<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book</title>
</head>
<body>
  <h1>Details of the Book</h1>

  <div class="cards">
    <div class="card">
      <h2>Name: {{book.title}}</h2>   
      <h3>About: {{book.description}}</h3>
      <p>Author: {{book.author}}</p>
       <h4>Rating: {{book.rating}}</h4>
       <h4>Created at: {{book.createdAt}}</h4>
       <h4>Updated at: {{book.updatedAt}}</h4>
     <button class="btn btn-default"> <a href="/recipe/edit/{{book.id}}">Edit</a></button>
      <a href="#" class="btn btn-danger delete-recipe" data-id="{{book.id}}">Delete</a>
    </div>
</body>
</html>