<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book</title>
</head>
<body>
  <h1>Details of the Book</h1>

  <div class="cards">
    <div class="card">
      <h2>Name: {{book._doc.title}}</h2>   
      <h3>About: {{book._doc.description}}</h3>
      <p>Author: {{book._doc.author.firstName}}</p>
       <h4>Rating: {{book._doc.rating}}</h4>
       <h4>Created at: {{book._doc.createdAt}}</h4>
       <h4>Updated at: {{book._doc.updatedAt}}</h4>
   
     {{!-- <button class="btn btn-default"> <a href="/recipe/edit/{{book.id}}">Edit</a></button>
      <a href="#" class="btn btn-danger delete-recipe" data-id="{{book.id}}">Delete</a> --}}
    </div>

                 <p>Add a review</p>
  <form action="/book?book_id={{book._id}}" method="post">
  <label for="">User:</label>
  <input type="text" name="user">

  <label for="">Comments:</label>
  <textarea type="text" name="comments"></textarea>

  <button type="submit">ADD</button>
</form>


       <h2>Reviews</h2>
    {{#each book.reviews}}
    <div class="review-item">
  <p>{{this.comments}}</p>
  <span>{{this.user}}</span>
</div>
{{/each}} 

</body>
</html>